.titleH2{
    text-align: center;
    color: white;
}
.title-Feedback{
    width: 100%;
    padding: .3rem 0;
    margin-bottom: 1rem;
    background-color: rgb(75, 160, 181);
}
.content-general{
    display: flex;
    width: 100%;
}
.content-Users{
    width: 20%;
}
.subtitulo-Name{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
}
.content-Name{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    padding-right: .7rem;
    width: 100%;
    height: 37rem;
    overflow: auto;
}
.item-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .3rem 0;
    width: 80%;
    min-height: 2.5rem;
    color: rgb(18, 91, 109);
    background-color: rgb(128, 175, 187);
    border: solid .1rem rgb(114, 114, 114);
    border-radius: .5rem;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.item-list:hover{
    width: 100%;
    background-color: rgb(75, 160, 181);
    box-shadow: .2rem .2rem .1rem .1rem rgba(0, 0, 0, 0.336) ;
    color: white;
}
.inactive{
    color: rgb(79, 83, 83);
    background-color: rgb(133, 133, 133);
}
.inactive:hover{
    color: rgb(152, 153, 153);
    background-color: rgb(56, 55, 55);
}
.content-ini{
    display: flex;
    padding: 0 1%;
    width: 80%;
    height: 40rem;
}
.carousel-item img{
    height: 40rem;
}
.line{
    background-color: rgba(75, 160, 181, 0.623);
}
.line h5{
    font-size: 3rem;
}
.line span{
    font-size: 3rem;
}
.iconDisabled{
    color: rgb(32, 30, 30);
}